<!DOCTYPE html>
{% extends 'base.html' %}

<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Dispensary</title>


  {% block content %} 

  <!--- login page for admin by admin(sumit)  ---------->
  <div class="container py-5">
    <h1>Login</h1>
    <form method="POST">
      {% csrf_token %}
      {{ login_form.as_p}}
      <button class="btn btn-primary" type="submit">Login</button>
    </form>
    <p class="text-center">Don't have an account? <a href="/register">Create an account</a>.</p>
  </div>

  {% endblock %}
       

 
  <br><br><br>

</body>

</html>
