{% extends 'base.html' %}
{% block content %}
<br>
<br>

<head>
    
   
</head>


<br>
<br>

<div class="jumbotron" style="margin-bottom:0px; background-color: #7f5a83; background-image: linear-gradient(315deg, #7f5a83 0%, #0d324d 74%);">
  <h1 class="display-4" style="text-align:center;">Hello, Admin</h1>
  <p class="lead" style="text-align: center;">Welcome to Hospital Management System.</p>
  <hr class="my-4">
  <p style="text-align:center;">Please Signup/Login to continue.</p>
  <p class="lead" style="text-align: center;">
    <a  class="btn btn-primary btn-lg"  href="/adminsignup" role="button">SignUp</a>
    <a class="btn btn-primary btn-lg" href="/adminlogin" role="button">Login</a>
  </p>
</div>

{% endblock content %}