body,p,h1{
    background-color: #7f5a83;
    background-image: linear-gradient(315deg, #7f5a83 0%, #0d324d 74%);
    color: white;
    font-family: 'Roboto', sans-serif;

}
.center-form{
    padding-right: 30%;
    border:1px solid #d9e0e8;
    margin-bottom:2%;
    justify-content: center;
    margin: 40px 50px;
    padding: 30px;
    color: white;
    
}
.text-muted{
    color: red !important;
}
